@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.86%;
    --foreground: 0 0% 2.75%;
    --muted: 213 15.51% 79.06%;
    --muted-foreground: 213.33 7.8% 19.27%;
    --popover: 0 0% 96.86%;
    --popover-foreground: 213.33 87.1% 12.16%;
    --card: 0 0% 96.86%;
    --card-foreground: 213.33 87.1% 12.16%;
    --border: 213 3% 93%;
    --input: 213 3% 93%;
    --primary: 213 100% 51%;
    --primary-foreground: 0 0% 96.86%;
    --secondary: 213 9% 91%;
    --secondary-foreground: 213.33 87.1% 12.16%;
    --accent: 213 9% 91%;
    --accent-foreground: 250.2 16.62% 30.34%;
    --destructive: 360 100% 46.15%;
    --destructive-foreground: 7 91% 84%;
    --ring: 213 100% 51%;
    --chart-1: 213 100% 51%;
    --chart-2: 250.2 100% 51.57%;
    --chart-3: 33.96 100% 51.57%;
    --chart-4: 138.11 100% 51.57%;
    --chart-5: 213 103% 51%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 0 0% 2.75%;
    --foreground: 0 0% 96.86%;
    --muted: 0 10% 15%;
    --muted-foreground: 0 3% 66%;
    --popover: 0 0% 2.75%;
    --popover-foreground: 0 0% 96.86%;
    --card: 0 0% 2.75%;
    --card-foreground: 0 0% 96.86%;
    --border: 213 3% 12%;
    --input: 213 3% 12%;
    --primary: 213 100% 51%;
    --primary-foreground: 0 0% 96.86%;
    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 73%;
    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 73%;
    --destructive: 0 91% 60%;
    --destructive-foreground: 7 91% 0%;
    --ring: 213 100% 51%;
    --chart-1: 213 100% 51%;
    --chart-2: 0 0% 13%;
    --chart-3: 0 0% 13%;
    --chart-4: 0 0% 16%;
    --chart-5: 213 103% 51%;
  }
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by next-forge */
@layer base {
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
}
